Repository Team-Grace/devgrace, changes with the labels that .github/labeler.yml gives for each.
All labels: @devgrace/react, @devgrace/utils, @devgrace/types, @devgrace/ui, dependencies, workflows

chore: dependaboy yml 수정
  .github/dependabot.yml
  .pnp.cjs
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.16.3-f2c8585521-10c0.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.16.3-61dd055f35-10c0.zip
  packages/react/package.json
  packages/react/src/components/DebounceWrapper/DebounceWrapper.spec.tsx
  packages/ui/package.json
  yarn.lock
Labels: @devgrace/react, @devgrace/ui, dependencies

refac: applied eslint react/recommended
  .changeset/few-knives-move.md
  .eslintrc.cjs
  .pnp.cjs
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.16.3-f2c8585521-10c0.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.16.3-61dd055f35-10c0.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.7.0-de43f1e757-d1f4c40523.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.7.0-1113d8c99f-d756c22927.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.7.0-11c4ce86ce-014a3631c1.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.7.0-78eaba3e4e-064c28d408.zip
  .yarn/cache/@typescript-eslint-types-npm-7.7.0-9680b728d4-eb50793650.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.7.0-a66322a4aa-19da9bf094.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.7.0-ce9a309e60-c5f18ce198.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.7.0-c5686658e8-0f3b9720a9.zip
  .yarn/cache/typescript-eslint-npm-7.7.0-1c6d9ccc41-ab2ac34851.zip
  package.json
  packages/react/src/components/InView/index.tsx
  packages/react/src/components/LazyImage/index.tsx
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/components/Dimmed/index.tsx
  packages/ui/src/stories/components/Dimmed.stories.tsx
  yarn.lock
Labels: @devgrace/react, @devgrace/ui, dependencies

refac: applied eslint react/recommended (#99)
  .changeset/few-knives-move.md
  .eslintrc.cjs
  .pnp.cjs
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.16.3-f2c8585521-10c0.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.16.3-61dd055f35-10c0.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.7.0-de43f1e757-d1f4c40523.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.7.0-1113d8c99f-d756c22927.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.7.0-11c4ce86ce-014a3631c1.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.7.0-78eaba3e4e-064c28d408.zip
  .yarn/cache/@typescript-eslint-types-npm-7.7.0-9680b728d4-eb50793650.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.7.0-a66322a4aa-19da9bf094.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.7.0-ce9a309e60-c5f18ce198.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.7.0-c5686658e8-0f3b9720a9.zip
  .yarn/cache/typescript-eslint-npm-7.7.0-1c6d9ccc41-ab2ac34851.zip
  package.json
  packages/react/src/components/InView/index.tsx
  packages/react/src/components/LazyImage/index.tsx
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/components/Dimmed/index.tsx
  packages/ui/src/stories/components/Dimmed.stories.tsx
  yarn.lock
Labels: @devgrace/react, @devgrace/ui, dependencies

revert: testing-library/react version 15 -> 14
  .pnp.cjs
  .yarn/cache/@testing-library-user-event-npm-14.5.1-daca21fbcb-1e00d6ead2.zip
  .yarn/cache/@types-react-dom-npm-18.3.0-111444d3eb-6c90d2ed72.zip
  packages/react/package.json
  packages/react/src/components/DebounceWrapper/DebounceWrapper.spec.tsx
  packages/ui/package.json
  yarn.lock
Labels: @devgrace/react, @devgrace/ui, dependencies

chore: package.json
  .pnp.cjs
  .yarn/cache/@testing-library-user-event-npm-14.5.1-daca21fbcb-1e00d6ead2.zip
  packages/react/package.json
  yarn.lock
Labels: @devgrace/react, dependencies

feat(utils): Add isPromise
  .changeset/dull-trains-trade.md
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.17.2-56f9d0ef11-10c0.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.17.2-0d17f6c4a4-10c0.zip
  docs/prepareDocs/en/utils/validator/isPromise.md
  docs/prepareDocs/ko/utils/validator/isPromise.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isPromise/index.ts
  packages/utils/src/validator/isPromise/isPromise.spec.ts
Labels: @devgrace/utils

feat(utils): Add isPromise (#106)
  .changeset/dull-trains-trade.md
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.17.2-56f9d0ef11-10c0.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.17.2-0d17f6c4a4-10c0.zip
  docs/prepareDocs/en/utils/validator/isPromise.md
  docs/prepareDocs/ko/utils/validator/isPromise.md
  packages/utils/src/validator/index.ts
  packages/utils/src/validator/isPromise/index.ts
  packages/utils/src/validator/isPromise/isPromise.spec.ts
Labels: @devgrace/utils

chore: fix workflow
  .github/workflows/pull-request.yml
Labels: workflows

chore: add yarnrc supportedArchitectures libc
  .yarnrc.yml
Labels: none

feat(utils): add delay utils function
  .changeset/cold-hounds-knock.md
  docs/prepareDocs/en/utils/common/delay.md
  docs/prepareDocs/ko/utils/common/delay.md
  packages/utils/src/common/delay/delay.spec.ts
  packages/utils/src/common/delay/index.ts
  packages/utils/src/common/index.ts
Labels: @devgrace/utils

docs: fix delay docs
  docs/prepareDocs/ko/utils/common/delay.md
Labels: none

feat(utils): add delay utils function (#109)
  .changeset/cold-hounds-knock.md
  .yarnrc.yml
  docs/prepareDocs/en/utils/common/delay.md
  docs/prepareDocs/ko/utils/common/delay.md
  packages/utils/src/common/delay/delay.spec.ts
  packages/utils/src/common/delay/index.ts
  packages/utils/src/common/index.ts
Labels: @devgrace/utils

feat(types): Add ExtractSetType, ExtractMapType, Promiseable
  .changeset/nine-dryers-tan.md
  packages/types/src/ExtractMapType/ExtractMapType.spec.ts
  packages/types/src/ExtractMapType/index.ts
  packages/types/src/ExtractSetType/ExtractSetType.spec.ts
  packages/types/src/ExtractSetType/index.ts
  packages/types/src/Promiseable/Promiseable.spec.ts
  packages/types/src/Promiseable/index.ts
  packages/types/src/index.ts
Labels: @devgrace/types

feat(types): Add ExtractSetType, ExtractMapType, Promiseable (#110)
  .changeset/nine-dryers-tan.md
  packages/types/src/ExtractMapType/ExtractMapType.spec.ts
  packages/types/src/ExtractMapType/index.ts
  packages/types/src/ExtractSetType/ExtractSetType.spec.ts
  packages/types/src/ExtractSetType/index.ts
  packages/types/src/Promiseable/Promiseable.spec.ts
  packages/types/src/Promiseable/index.ts
  packages/types/src/index.ts
Labels: @devgrace/types

feat: Add SwitchCase, useBlockPromiseMultipleClick, delay
  .changeset/rotten-bikes-burn.md
  docs/prepareDocs/en/react/components/SwithCase.mdx
  docs/prepareDocs/en/react/components/When.mdx
  docs/prepareDocs/en/react/hooks/useBlockPromiseMultipleClick.mdx
  docs/prepareDocs/en/utils/common/delay.md
  docs/prepareDocs/ko/react/components/SwithCase.mdx
  docs/prepareDocs/ko/react/components/When.mdx
  docs/prepareDocs/ko/react/hooks/useBlockPromiseMultipleClick.mdx
  docs/prepareDocs/ko/utils/common/delay.md
  packages/react/src/components/SwitchCase/SwitchCase.test.tsx
  packages/react/src/components/SwitchCase/index.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useBlockPromiseMultipleClick/index.ts
  packages/react/src/hooks/useBlockPromiseMultipleClick/useBlockPromiseMultipleClick.spec.tsx
Labels: @devgrace/react

docs: fix useDebounce
  docs/prepareDocs/en/react/hooks/useDebounce.mdx
  docs/prepareDocs/ko/react/hooks/useDebounce.mdx
  packages/react/src/hooks/index.ts
Labels: @devgrace/react

fix: workflow
  .github/workflows/pull-request.yml
Labels: workflows

Feat/sync (#122)
  .changeset/rotten-bikes-burn.md
  .github/workflows/pull-request.yml
  docs/prepareDocs/en/react/components/SwithCase.mdx
  docs/prepareDocs/en/react/components/When.mdx
  docs/prepareDocs/en/react/hooks/useBlockPromiseMultipleClick.mdx
  docs/prepareDocs/en/react/hooks/useDebounce.mdx
  docs/prepareDocs/en/utils/common/delay.md
  docs/prepareDocs/ko/react/components/SwithCase.mdx
  docs/prepareDocs/ko/react/components/When.mdx
  docs/prepareDocs/ko/react/hooks/useBlockPromiseMultipleClick.mdx
  docs/prepareDocs/ko/react/hooks/useDebounce.mdx
  docs/prepareDocs/ko/utils/common/delay.md
  packages/react/src/components/SwitchCase/SwitchCase.test.tsx
  packages/react/src/components/SwitchCase/index.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useBlockPromiseMultipleClick/index.ts
  packages/react/src/hooks/useBlockPromiseMultipleClick/useBlockPromiseMultipleClick.spec.tsx
Labels: @devgrace/react, workflows

feat(react): Add useFileReader hook
  .changeset/thick-adults-mate.md
  docs/prepareDocs/en/react/hooks/useFileReader.mdx
  docs/prepareDocs/ko/react/hooks/useFileReader.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useFileReader/index.ts
  packages/react/src/hooks/useFileReader/useFileReader.spec.ts
  packages/react/src/utils/test/mockFile.ts
Labels: @devgrace/react

feat(react): Add useFileReader hook (#124)
  .changeset/thick-adults-mate.md
  docs/prepareDocs/en/react/hooks/useFileReader.mdx
  docs/prepareDocs/ko/react/hooks/useFileReader.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useFileReader/index.ts
  packages/react/src/hooks/useFileReader/useFileReader.spec.ts
  packages/react/src/utils/test/mockFile.ts
Labels: @devgrace/react

.github/labeler.yml:

"@devgrace/react":
  - "packages/react/**/*"
"@devgrace/utils":
  - "packages/utils/**/*"
"@devgrace/types":
  - "packages/types/**/*"
"@devgrace/ui":
  - "packages/ui/**/*"
"dependencies":
  - "yarn.lock"
"workflows":
  - ".github/workflows/**/*"
